#usersTable {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.headerTable {
    text-align: center;
    font-family: sans-serif;
}

#usersTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#usersTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#usersTable tr:hover {
    background-color: #ddd;
}

#usersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}