<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mi primer Formulario</title>
</head>
<body>
<form th:action="@{/form}" method="post">
    <div>
        <label for="username">Nombre de Usuario: </label>
    </div>
    <div>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password de Usuario: </label>
    </div>
    <div>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="email">Email: </label>
    </div>
    <div>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </div>
</form>
</body>
</html>