<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/form}" th:object="${usuario}" method="post">
    <h1 th:text="${tittle}"></h1>
    <fieldset>
        <legend>Información de Usuario</legend>

        <div class="form-input">
            <label for="pais">País: </label>
            <select id="pais" th:field="*{pais}">
                <option value="">=Seleccinar=</option>
                <!--                <option th:each="pais : ${paisesMap.entrySet()}" th:text="${pais.getValue()}"-->
                <!--                        th:value="${pais.getKey()}"></option>-->
                <!--                -->
                <option th:each="pais : ${listaPaises}"
                        th:value="${pais.paisId}"
                        th:text="${pais.nombrePais}"></option>
            </select>
            <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais} "></div>
        </div>

        <div class="form-input form-checkbox">
            <label>Roles: </label>
            <div class="checkboxes" th:each="rol : ${listaRoles}">
                <input type="checkbox" th:field="*{roles}" th:value="${rol.nombreRol}"/>
                <label class="checkboxes-content" th:text="${rol.nombreRol}"></label>
            </div>
            <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles} "></div>
        </div>

        <div class="form-input">
            <label for="nombre">Código: </label>
            <input type="text" id="identificadorDni" placeholder="00.000.00-A" th:field="*{identificadorDni}">
            <div th:if="${#fields.hasErrors('identificadorDni')}" th:errors="*{identificadorDni} "></div>
        </div>

        <!-- username -->
        <div class="form-input">
            <label for="nombre">Nombres: </label>
            <input type="text" id="nombre" placeholder="Jhon David" th:field="*{nombre}">
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre} "></div>
        </div>
        <div class="form-input">
            <label for="apellido">Apellidos: </label>
            <input type="text" id="apellido" placeholder="Doe Perez" th:field="*{apellido}">
            <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido} "></div>
        </div>

        <div class="form-input">
            <label for="username">Nombre de Usuario: </label>
            <input type="text" id="username" placeholder="jhondoe9" th:field="*{username}">
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username} "></div>
        </div>

        <!-- password -->
        <div class="form-input">
            <label for="password">Password: </label>
            <input type="password" id="password" th:field="*{password}">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password} "></div>
        </div>
        <!-- email -->
        <div class="form-input">
            <label for="email">Email: </label>
            <input type="text" id="email" placeholder="example@gmail.com" th:field="*{email}">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email} "></div>
        </div>

        <div class="form-input">
            <label for="cuenta">Cuenta: </label>
            <input type="number" id="cuenta" placeholder="0000" th:field="*{cuenta}">
            <div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta} "></div>
        </div>

        <div class="form-input">
            <label for="fechaNacimiento">Fecha Nacimiento: </label>
            <input type="date" id="fechaNacimiento" placeholder="2025/02/12" th:field="*{fechaNacimiento}">
            <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento} "></div>
        </div>
        <!-- boton -->
        <div class="button_send">
            <input type="submit" value="Enviar">
        </div>
    </fieldset>
</form>
</body>
</html>