<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/form}" method="post">
    <h1 th:text="${tittle}"></h1>
    <fieldset>
        <legend>Información de Usuario</legend>
        <!-- nombre -->
        <div class="form-input">
            <label for="username">Nombre: </label>
            <input type="text" name="username" id="username" placeholder="David Eli">
        </div>
        <!-- password -->
        <div class="form-input">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <!-- email -->
        <div class="form-input">
            <label for="email">Email: </label>
            <input type="text" name="email" id="email" placeholder="example@gmail.com">
        </div>
        <!-- boton -->
        <div class="button_send">
            <input type="submit" value="Enviar">
        </div>
    </fieldset>
</form>
</body>
</html>