<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
    <link rel="stylesheet" th:href="@{/css/StyleTable.css}">
    <link rel="stylesheet" th:href="@{/css/StyleEnlace.css}">
</head>
<body>
<header class="header-box">
    <h1 class="header-content" th:text="${tittle}"></h1>
</header>
<div class="button-redirect-form-user">
    <a class="content-button-redirect" th:href="@{/form}">Registrar nuevo Usuario</a>
</div>
<table id="usersTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Genero</th>
        <th>Pais</th>
        <th>Roles</th>
        <th>Codigo</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Nombre de Usuario</th>
        <th>Password</th>
        <th>Email</th>
        <th>Cuenta</th>
        <th>Fecha de Nacimiento</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.usuarioId}"></td>
        <td th:text="${user.genero}"></td>
        <td th:text="${user.pais.nombrePais}"></td>
        <td>
            <div th:each="role : ${user.roles}">
                <ul>
                    <li th:text="${role.nombreRol}"></li>
                </ul>
            </div>
        </td>
        <td th:text="${user.identificadorDni}"></td>
        <td th:text="${user.nombre}"></td>
        <td th:text="${user.apellido}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.cuenta}"></td>
        <td th:text="${user.fechaNacimiento}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>